/*a, input, textarea, button {
  @include animated();
}*/
.container {
  font-family: "Open Sans";
  box-sizing: border-box;
  max-width: $container;
  margin: 0 auto;

  &::after {
    content: "";
    clear: both;
    display: table;
  }
  @media (max-width: $laptop-max) {
    max-width: $container-laptop;
  }
  @media (max-width: $tablet-max) {
    max-width: $container-tablet;
  }
  @media (max-width: $phone-max) {
    max-width: 100%;
  }
}
p {
  line-height: 22px;
}
