// colors
$ocean-blue: #009dc4;
$sunny-yellow: #fff917;
$blood-red: #c0392b;
$cement: #a5a391;
$pencil-blue: #2200ff;
$light-green: #1abc9c;
$primary-color: $ocean-blue;
$secondary-color: $sunny-yellow;
$primary-text-color: $pencil-blue;
$secondary-text-color: $ocean-blue;
$dark-text: black;
$light-text: white;
$nice-orange: #d35400;
$gray-background: #ecf0f1;
$dark-green: #27ae60;
$sky-blue: #d2edff;

// fonts
$primary-font: "Open Sans", sans-serif;
$secondary-font: "MyWebFont", sans-serif;
// sizes
$container: 1500px;
$container-laptop: 1000px;
$container-tablet: 750px;
$laptop-max: 1367px;
$tablet-max: 1024px;
$phone-max: 768px;
$phone-small-max: 320px;
$big-text-hero: 45px;
$margin-bot-hero: 10px;
$margin-section: 50px;
$margin-titles: 20px;
$radius-border: 5px;
