.navBar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255);
  border-bottom: 1px solid gainsboro;
  img {
    width: 120px;
    height: 40px;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p {
      margin: 0 5px;
      padding: 5px;
      min-width: 100px;
      text-align: center;
      border-radius: 5px;

      a {
        color: black;
        text-decoration: none;
      }
    }
    p:hover {
      border: 2px solid black;
      cursor: pointer;
      a {
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
}

.hamburger {
  display: block;
}
