.section-10 {
  h2 {
    font-size: 40px;
    font-weight: 300;
  }
  .contact {
    display: flex;
    margin-bottom: $margin-section;
    gap: 100px;

    .map {
      width: 500px;
      -webkit-box-shadow: -1px 5px 36px -11px rgba(0, 0, 0, 0.48);
      -moz-box-shadow: -1px 5px 36px -11px rgba(0, 0, 0, 0.48);
      box-shadow: -1px 5px 36px -11px rgba(0, 0, 0, 0.48);
    }
    .login-box {
      width: 50%;
      display: flex;
      flex-direction: column;
      .bbx {
        display: flex;
        flex-direction: column;

        p {
          margin: 20px 0;
          color: black;
        }
        h3 {
          margin: auto;
          font-family: "Open Sans";
          color: $dark-green;
          font-weight: normal;
          margin-bottom: 40px;
        }
        .input {
          all: unset;
          border-bottom: 1px solid #27ae60;
          width: 100%;
        }

        .qa {
          height: 100px;
        }
        .youtext {
          resize: none;
          width: 100%;
          border: 1px solid #27ae60;
        }
        button {
          position: relative;
          margin-top: 20px;
          float: right;
        }
      }
    }
  }
}
