.section-9 {
  .card {
    width: 390px !important;
    height: fit-content;
    background-color: aquamarine;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    figure {
      img {
        border-radius: 50%;
      }
    }
  }
}
