button {
  cursor: pointer;
}
a {
  cursor: pointer;
  text-decoration: none;
}

.button-green {
  color: white;
  height: 40px;
  background-image: linear-gradient(to left, #3045be, #88e7ff, #3045be);
  background-size: 200%;
  padding: 8px 24px 7px 24px;
  border: none;
  border-radius: $radius-border;
  margin: 0 5px;
  transition: 0.6s;
}
.button-green:hover {
  background-position: right;
  color: black;
}
.button-blue {
  color: black;
  height: 40px;
  background-image: linear-gradient(to left, #4cd137, #83ff93, #4cd137);
  background-size: 200%;
  transition: 0.6s;
  padding: 8px 24px 7px 24px;
  border: none;
  border-radius: $radius-border;
  width: fit-content;
}
.button-blue:hover {
  background-position: right;
  color: white;
}

.text-box {
  text-align: center;
  padding: 50px;
  background-color: $gray-background;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.1);
  color: black;
  h2 {
    font-family: "Open Sans";
    color: $dark-green;
    font-weight: normal;
    margin-bottom: 21px;
  }
  margin-bottom: $margin-section;
}
body {
  font-family: "Open Sans" !important;
  background-color: rgb(226, 226, 226);
  main {
    margin-top: 80px;
  }
}
.img-text-box {
  margin-bottom: $margin-section;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 575px;
    h2 {
      font-weight: normal;
      line-height: 41px;
      color: $nice-orange;
    }
    p {
      color: $dark-text;

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  h2 {
    font-weight: normal;
    line-height: 41px;
    color: $nice-orange;
  }
  figure {
    width: fit-content;
  }
}
.black-title {
  font-weight: normal;
  color: $dark-text;
  margin-bottom: 0px;
  line-height: 41px;
  text-align: center;
  margin: auto;
  margin-bottom: $margin-section;
}
//hm-mn
.hamburger {
  display: none;
  position: fixed;
  z-index: 100;
  top: 20px;
  right: 20px;
  padding: 4px;
  border: 0px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.97);
  cursor: pointer;
}
.closeIcon {
  display: none;
}
.menu {
  display: none;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}
.showMenu {
  transform: translateY(0);
}

//carousel
