.navBar {
  width: 100vw;

  z-index: 3;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255);
  border-bottom: 1px solid gainsboro;

  div {
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p {
      margin: 0 5px;
      a {
        margin: 0 20px;
        color: black;
        font-size: 25px;
      }
    }
  }
  .secrchBox {
    width: 50%;
    height: fit-content;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    input {
      border: none;
      padding: 5px;
      height: 100%;
      width: 100%;
    }
    button {
      text-decoration: none;
      background-color: white;
      border: 0;
    }
  }
}
